/* Adjust alignment of "Helpdesk Title". */
/* (JC, 24.9.2021) */
#divBigHeader .topheader #logo #spanTitle {
    font-family: sans-serif;
    margin-left: -14px;
    position: relative;
    top: 2px;
}

/* "Skip to New Ticket" tab shortcut above header */
/* (JC, 8/3/2022) */

/* Yellow 'skip' bar at top of page */
#skipNew:focus {
  background: #ffdd00;
  color: #000;
  font-weight: 700;
  padding: 8px 16px;
  font-size: large;
  display: block;
  position: relative;
}

/* Hidden when not in focus */
#skipNew {
  position: absolute;
}

/* Skip to New Ticket - text link */
#skipNew:focus span {
  display: block;
  text-decoration: underline;
}

/* Hide when <a> not in focus */
#skipNew span {
  display: none;
}

/* - - - - - */

/* Use gov.uk blue for menu bar */
/* (JC, 24.9.2021) */
/* (JC, 3.3.2022) - darker, for improved contrast ratio */
.tabmenu2, .tabmenu li.active a, .blueheader {
    background-color: #1d70b8;
    box-shadow: none;
}

/* Remove shaded gradient from blue menu bar */
/* (JC, 5.11.2021) */
.tabmenu2 {
    background-image: none;
}

/* Highlight the Section>Category in main list view */
/* (JC, 24.9.2021) */
span.categoryName {
    color: #12659d;
    font-weight: 900;
    background-color: #6495ed2e;
}

/* Change pale-pink "overdue" row highlight to a yellow/orange */
/* (JC, 4.11.2021) */
table.horizseparated tr.overdue td {
    background-color: #fff7ccaa;
}

/* Present updated by tech for Case Admin staff */
/* Hide default badge and position it 'relative' */
/* (JC, 1.10.2021) */
.badge.tech-badge {
    background-color: #70c45c;
    position: relative;
    visibility: hidden;
}

/* Append 'upd by admin' badge */
/* (JC, 1.10.2021) */
.badge.tech-badge::after {
    visibility: visible;
    content: "upd by admin";
    background-color: #5fa44f;
    padding: 2px 4px 5px 4px;
    border-radius: 3px;
    line-height: 9px;
    margin: -3px -5px -1px 0;
    float: right;
}

/* Highlight user profile name in gov.uk blue */
/* (JC, 19.11.2021) */
#divBigHeader .topheader #userinfo button {
    border: 1px solid #1f6fb8;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Design edit to stack custom fields vertically */
/* (JC, 15.11.2021)                              */
/* - - - - - - - - - - - - - - - - - - - - - - - */

/* outer pale-grey box for custom fields */
#trCustomFields td .outerroundedbox {
    background-color: #e3e5e6;
    padding-bottom: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
    border-radius: 3px;
}

/* display custom fields on separate lines */
.report-settings div.report-input {
  /* clear: both; <- comment'd out due to date alignment issue, 3.12.2021 */
  width: 100%;
}

/* modify custom field label */
.report-settings div.report-input label {
  width: 20em;
  margin-right: 5em;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  margin-top: 10px;
}

/* match the widths of all custom fields */
/* (JC, 15.11.2021) */
/* (JC, 22.11.2021 - edit line height, 2 -> 1.5em) */
.report-settings div.report-input input[type="text"], div.report-input input[type="number"], .report-settings div.report-input select, div.report-input textarea {
  width: 100%;
  line-height: 1.5em;
  padding-left: 8px;
  min-width: 300px;
  max-width: 600px;
  height: 34px;
}

/* use red placeholder text for 'required' fields */
div.report-input .required::placeholder {
  color: #ff00005c;
}

/* use gov.uk style highlighting on custom field with focus */
[id^="CustomFieldValue"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px #000;
  border-radius: 0;
}

/* width override for multiline text fields */
div.report-settings div.report-input textarea {
  width: 100% !important;
  height: 180px;
}

/* - - - - - */

/* Add date-picker icon to date field text boxes */
/* (JC, 22.11.2021) */
.report-settings div.report-input input.datepick {
  background-image: url(/images/calendar.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: right;
}

/* - - - - - - - - - - - - - - - - - - - - - - */
/* From Edge "Accessibility Insights Web" tool */
/* - - - - - - - - - - - - - - - - - - - - - - */

#noTicketsMessage > a[href$="New"] {
  color: #2679af;
}

#divBigHeader .divSearch input {
  background-color: #fff;
  color: #555;
}

#divBigHeader .divSearch input:focus {
  background-color: #fff;
  color: #333;
}

a.button.newbutton {
  background-color: #597c35;
  color: #fff;
  border-bottom: 2px #aab79c solid;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  height: 28px;
  padding: 0 20px 0 20px;
}

a.ticketLink, a.ticketLink:visited {
  color: #269;
}

#tblTickets th a, #tblTickets th a:visited {
  color: #686868;
  font-sixe: 13px;
  font-weight: bold;
}

.categories .treeList li.category a, .categories .treeList li.category a:visited {
  color: #585858;
}

/* grey fonts often used in list and field labels */
.greyer, a.greyer { color: #585858; }
.grey { color: #444; }
.grey2 { color: #444; }
a.grey2 { color: #444; }
table.issueDetails .grey { color: #444; }
th { color: #444; }

/* stats below the ticket filter */
/* (JC, 11/3/22) */
#divStats a {
  color: #555;
}

/* increase size of new, upd, etc, ticket badges */
.badge {
  font-size: 14px;
  padding: 2px 4px 5px 4px;
}

/* red colour on a 'new' ticket badge */
.badge.new-badge {
  background-color: #c64f4f;
}

/* grey colour on 'closed' ticket badge */
.badge.closed-badge {
  background-color: #737373;
}

/* green on 'tech' badge */
.badge.tech-badge {
  background-color: #5fa44f;
}

/* orange colour on 'cust' badge */
.badge.cust-badge {
  background-color: #986944;
}

/* Move newTicket DIV/button left of search input */
/* NOTE: see jquery 'insertbefore' method in custom js below */
/* JC, 5/2/22 */
#divBigHeader #newTicket {
  float: left;
}

/* - - - - - */
/* Focus indicator */

/* Add yellow highlight to logo/title */
/* JC, 4/3/22 */
#divBigHeader .topheader #logo > a:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  padding: 15px 4px 4px 4px;
  margin-left: -4px;
}

/* Invert colour of Crown logo when it has focus */
/* JC, 5/3/22 */
#divBigHeader .topheader #logo a:focus img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

/* Invert colour of Title span when logo link has focus */
/* JC, 4/3/22 */
#divBigHeader .topheader #logo > a:focus span {
  color: #34383E !important;
}

/* Yellow/Black border highlight for plain fields and text buttons */
/* JC, 6/3/22 */
#divBigHeader .topheader #userinfo button:focus, #divBigHeader .divSearch input:focus, select#ddlSortBy:focus, #spanLoggedIn span.grey a:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 0;
}

/* Active new ticket button */
/* (JC, 11/3/22) */
a.button.newbutton:focus {
  color: black !important;
  background-color: #fd0;
  border-bottom-color: #aaa26f;
  border-radius: 0;
}

/*
#divBigHeader .topheader #userinfo button:focus = "user profile" button
#divBigHeader .divSearch input:focus = "search" input text box
select#ddlSortBy:focus = ?
#spanLoggedIn span.grey a:focus = "upgrade" text link
*/

/* Primary tabs, eg/ Tickets, Knowledge Base */
/* JC, 4/3/22 */
.tabmenu li a:focus {
    color: black !important;
    outline: 3px solid transparent;
    background-color: #fd0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Primary tabs, prevent left-tab moving when focus lost */
/* JC, 4/3/22 */
.tabmenu li:first-child>a {
    padding-left: 15px;
}

/* Secondary menu tabs, unclosed, unanswered, etc */
/* JC, 4/3/22 */
.tabmenu2 li a:focus {
    color: black !important;
    outline: 3px solid transparent;
    background-color: #fd0;
    padding: 13px;
    margin: -13px;
    display: block;
}

/* Target the "funnel" filter when it has focus */
/* JC, 4/3/22 */
#toggleFilter:focus {
    color: black !important;
    outline: 3px solid transparent;
    background-color: #fd0;
}

/* Fields with focus when filter panel is open */
/* JC, 5/3/22 */
#filterForm table.grey input:focus, #filterForm table.grey select:focus, #filterForm table.grey button:focus, .ui-corner-all:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 0;
}

.ui-multiselect-checkboxes label input:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 0;
}

/* Left sidebar category list, with focus */
/* JC, 4/3/22 */
.categories .treeList li>a:focus {
    color: black !important;
    outline: 3px solid transparent;
    background-color: #fd0;
}

/* Target the A-Z sort filter when it has focus */
/* JC, 4/3/22 */
#sorting span.outerroundedborder a:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 0;
    padding: 3px 5px;
    margin: 0 -3px;
}
/* Rule below corrects a small offset */
#sorting span.outerroundedborder a {
  margin-left: 2px;
}

/* Small grey text label at bottom of filter panel */
#sorting div a.grey2:focus {
  outline: 2px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px #8a8a8a;
  border-radius: 0;
  padding: 0 5px;
  margin-right: -5px;
}

/* Grey 'quick' filters below main filter panel */
/* first rule corrects small offset */
#divStats a {
  display: block;
  padding: 4px;
}

/* second rule below applies the yellow/black outline style */
#divStats.grey2 a:focus {
  outline: 2px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px #8a8a8a;
  border-radius: 0;
  display: block;
  background-color: #F7F7F7;
}

a[title="Real-time dashboard"] {
  margin-top: -14px;
}

a[title="Real-time dashboard"]:focus {
  outline: 2px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px #8a8a8a;
  border-radius: 0;
  display: inline-block;
  background-color: #F7F7F7;
  padding: 14px 18px;
}

/* TEST - add an H1 heading to the main ticket view table */
/* (JC, 14/3/2022) */
#tblTickets caption h1 {
  font-size: 24px;
  padding-bottom: 8px;
  float: left;
}

/* TEST - idendifying tab/focus points within ticket grid view */
/* (JC, 8/3/2022) */
span.categoryName:focus, #tblTickets th a:focus {
  border-bottom: 2px black solid;
  padding: 9px 6px 6px 10px;
  float: left;
  background-color: #fd0;
  margin: -9px -6px -8px -10px;
  color: black;
}

.ticketAttr a.uPopup {
  margin-right: 6px;
}

.ticketAttr a.uPopup:focus {
  border-bottom: 2px black solid;
  background-color: #fd0;
  margin-right: 6px;
  color: black;
}

.ticketAttr a.cPopup:focus {
  border-bottom: 2px black solid;
  background-color: #fd0;
  color: black;
}

td.techTd a.uPopup:focus {
  border-bottom: 2px black solid;
  background-color: #fd0;
  color: black;
  min-width: 50px;
  min-height: 15px;
  display: inline-block;
  margin-bottom: -2px;
}

.ticketrowMeta + a:focus {
  border-bottom: 2px black solid;
  padding: 1px 3px;
  background-color: #fd0;
  margin: -1px -3px;
  color: black;
}

#tblTickets input[type="checkbox"]:focus {
  opacity: 1;
  outline: 2px #fd0 solid;
  outline-offset: 1px;
  box-shadow: 0 0 1px 3px black;
}
